<?xml version="1.0" ?>
<config>
    <modules>
        <SI_Testimonials>
            <version>0.0.1</version>
        </SI_Testimonials>
    </modules>
    <global>
        <models>
            <sitestimonials>
                <class>SI_Testimonials_Model</class>
                <resourceModel>sitestimonials_resource</resourceModel>
            </sitestimonials>
            <sitestimonials_resource>
                <class>SI_Testimonials_Model_Resource</class>
                <entities>
                    <table_testimonials>
                        <table>si_testimonial_entity</table>
                    </table_testimonials>
                </entities>
            </sitestimonials_resource>
        </models>
        <resources>
            <sitestimonials_setup>
                <setup>
                    <module>SI_Testimonials</module>
                </setup>
            </sitestimonials_setup>
        </resources>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <allproducts>
                        <type>singleton</type>
                        <class>SI_Testimonials_Model_Observer</class>
                        <method>regenerateMenu</method>
                    </allproducts>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
        <blocks>
            <sitestimonials>
                <class>SI_Testimonials_Block</class>
            </sitestimonials>
        </blocks>
        <helpers>
            <si_testimonials>
                <class>SI_Testimonials_Helper</class>
            </si_testimonials>
        </helpers>
    </global>
    <frontend>
        <routers>
            <sitestimonials>
                <use>standard</use>
                <args>
                    <module>SI_Testimonials</module>
                    <frontName>feedback</frontName>
                </args>
            </sitestimonials>
        </routers>
        <layout>
            <updates>
                <sitestimonials>
                    <file>si_testimonials.xml</file>
                </sitestimonials>
            </updates>
        </layout>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>SI_Testimonials.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <sitestimonials_admin>
                <use>admin</use>
                <args>
                    <module>SI_Testimonials</module>
                    <frontName>si_admin</frontName>
                </args>
            </sitestimonials_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <si_testimonials module="si_testimonials">
                <title>Testimonials</title>
                <sort_order>77</sort_order>
                <action>si_admin/adminhtml_testimonials</action>
            </si_testimonials>
        </menu>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>SI_Testimonials.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
    </adminhtml>
</config>